body {
  min-width: $body-min-width;
}

a {
  @include hover-focus-active {
    text-decoration: none;
  }

  transition: all 0.15s ease-in-out;
}

::selection {
  color: color-yiq($primary);
  background: $primary;
}
