# See https://help.github.com/articles/ignoring-files for more about ignoring files.

/content/albums/*
/node_modules/*

/database_schema/*
!/database_schema/bettergram_database.sql

/app/assets/javascripts/*
!/app/assets/javascripts/src/

/app/assets/stylesheets/*
!/app/assets/stylesheets/scss/

!.keep
env.php
