.btn-tooltip {
  @include transition($btn-transition);
  border-radius: $btn-border-radius + 0.05rem;

  &:focus {
    outline: 0;
  }

  .btn {
    &:disabled {
      pointer-events: none;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-tooltip-#{$color} {
    @include button-variant(transparent, $value);
  }
}
