.btn-tooltip {
  @include transition($btn-transition);
  border-radius: $btn-border-radius + 0.05rem;

  &:focus {
    outline: 0;
  }

  .btn {
    &:disabled {
      pointer-events: none;
    }
  }
}

.btn--clean {
  @include hover-focus-active {
    color: darken($gray-600, 50%);
  }

  padding: 0;
  color: $gray-600;

  &:focus,
  &.focus {
    box-shadow: none;
  }
}

@each $color, $value in $theme-colors {
  .btn-tooltip-#{$color} {
    @include button-variant(transparent, $value);
  }
}
