.link--clean {
  @include hover-focus-active {
    color: darken($gray-600, 50%);
  }

  color: $gray-600;
}

.link--float {
  @include hover-focus-active {
    @extend .shadow-lg;
    transform: scale(1.025);
    color: darken($gray-800, 50%);
  }

  color: $gray-800;
}
