body {
  font-family: "Open Sans", "Roboto", "Helvetica", sans-serif;
}

.bg-1 {
  background: #ffffff url("../images/backgrounds/bg-1.png") repeat;
}

.h-100vh {
  min-height: 100vh;
}

.font-weight-medium {
  font-weight: 600 !important;
}
