.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: $zindex-overlay;
}

.overlay--translucent {
  transition: all 0.15s ease-in-out;
  border-radius: inherit;
  opacity: 0;

  @include hover-focus-active {
    opacity: 0.25;
  }
}
