.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - #{$underline-width} / 2);
    width: $underline-width;
    height: 4px;
    border-radius: 0.5rem;
    background-color: $black;
  }

  &--narrow {
    padding-bottom: 0;

    &::after {
      left: 0;
      width: 100%;
      height: 2px;
    }
  }
}

.underline-animation {
  &::after {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@each $color, $value in $theme-colors {
  .underline-#{$color} {
    &::after {
      background-color: $value !important;
    }
  }
}
