.navbar {
  z-index: $zindex-navbar;

  .nav-item {
    &.active {
      font-weight: 500;

      .nav-page::after {
        @extend .underline-animation:hover::after;
      }
    }

    .nav-page {
      @extend .underline;
      @extend .underline--narrow;
      @extend .underline-animation;
      @extend .underline-primary;
      margin-bottom: 0.5rem;

      &::after {
        @include media-breakpoint-up(lg) {
          left: calc(50% - 80% / 2) !important;
          width: 80% !important;
        }
      }
    }
  }
}
